/* Header */
#header {
    height: 60px;
    min-height: 60px;
    background: #ffffffb5;
    backdrop-filter: blur(20px);
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $lightBorder;
    position: fixed;
    top: 0;
    z-index: 2;

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

        a {
            text-decoration: none;
        }

    }

    .logo-text, .main-logo a {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: left;
        justify-content: center;

        .title {
            min-height: min-content;
            display: flex;
            line-height: 30px;
        }

        .site-desc {
            display: block;
            font-size: 10px;
            font-family: 'Inter', sans-serif;
            line-height: 18px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            word-spacing: 3px;
        }
    }

    .main-logo a {
        font-size: 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .h-cont {
        width: 100%;
        display: flex;
        align-items: center;


        .header-endpoints-wrap {
            margin-right: 0;
            margin-left: auto;
        }

    }

    .menu {
        padding: 0px;
        list-style: none;
        display: flex;
        gap: 25px;

        li {
            position: relative;

            a {
                text-decoration: none;
                position: relative;
                height: 100%;
                display: block;
            }

            &:hover {

                a::after  {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    height: 1.5px;
                    width: 100%;
                    background: $primary;
                }

            }
        }
    }
}

/* Logo */
.mp-black {
    color: $black;
}

.mp-primary {
    color: $primary !important;
}

/* Dropdown menus and btns */
.dropdown-btn > * {
    pointer-events: none;
}

/* Sections */
.above-the-fold {
    height: 100vh;
    position: relative;
    background: $aboveTheFoldBg2;

    .section-actions {
        display: flex;
        gap: 20px;
    }
}

/* Boxes & components */
.single-exam {

    .exam-meta p:not(:last-child)::after {
        content: "\F309";
        font-family: 'bootstrap-icons';
        margin: 0 5px;
    }

}

.single-box {
    border: 1px solid $border1;
    padding: 20px 15px;
}

/* Floating */
.header-user-dropdown {
    position: absolute;
    right: 10px;
    top: 70px;
    background: $white;
    width: 200px;
    border-radius: $divBorderRadius;
    border: solid 1px $lightBorder;
    box-shadow: $boxShadow1;
    overflow: hidden;
    cursor: pointer;

    .dropdown-el {
        display: block;
        padding: 15px;
        font-size: 15px;
        border-bottom: 1px solid $lightBorder;
        text-decoration: none;
        text-decoration: none;
        font-family: $fInter;

        &:hover {
            background-color: $bgGray;
        }
    }

    .dropdown-el:last-child {
        border: none;
    }
}

/* Listings */
.chapters-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .chapter-list-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 12px;
        background: #f0f0f0;
        cursor: pointer;

        .meta-data {
            font-size: 14px;
            margin: 0;
            display: flex;
            gap: 15px;
            background: #dadada;
            border-radius: 2px;
            padding: 4px 6px;
        }

        .chapter-list-left {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .chapter-list-right {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .position {
            font-family: 'Lora';
            font-size: 18px;
            width: 30px;
            height: 30px;
            background: #fff;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 50%;
        }
    }

    .chapter-list-body {
        overflow: hidden;
        border-color: $border2;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        transition: height 300ms;

        .body-inner {
            padding: 10px;
        }

        .attachments-btn {
            display: flex;
            gap: 15px;
        }

        &.closed {
            height: 0px !important;
        }

        button i {
            font-size: 18px !important;
        }
    }
}

/* Paragraph listing */
.paragraph-acc {

    .paragraph-acc-inner {

        .paragraph-acc-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-color: $border2;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            padding: 15px 10px;
            cursor: pointer;

            i {
                width: max-content;
                height: max-content;
                display: block;
                transition: 300ms all;
                font-size: 18px;
            }
        }

        .paragraph-acc-body {
            transition: height 300ms ease-in;
            border-color: $border2;
            border-width: 0px 1px 1px 1px;
            border-style: solid;
            overflow: hidden;
            height: auto;

            .content-wrap {
                padding: 10px;
            }

            &.closed {
                height: 0px !important;
                border: 0px;
            }
        }

    }

}
