@import "vars.scss";
@import "reset.scss";
@import "utils.scss";
@import "fonts.scss";
@import "buttons.scss";
@import "general.scss";
@import "fullpages.scss";
@import "loaders.scss";
@import "mobile.scss";
@import "forms.scss";
@import "popup.scss";

* {
    transition: 500ms all;
}

.single-exam {
    transition: 500ms all;
    border-radius: 18px;
    border-color: #dfdfdf  !important;
    cursor: pointer;
}

.single-exam:hover {
    background: $aboveTheFoldBg2;
    box-shadow: 0 0 0 2 rgba(0,0,0,0)
}