.popup {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #fff;
    width: 80%;
    height: max-content;
    padding: 10px;
}

.fullw-popup {
    width: 100% !important;
    height: 100% !important;
}

.flex-center-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-radius: $divBorderRadius;
    box-shadow: $boxShadow1;
}

#r-portal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003d;
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}