.popup {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #fff;
    width: 80%;
    height: max-content;
    padding: 10px;
    z-index: 9;

    .close-popup {
        position: absolute;
        top: 15px;
        right: 15px;

        i {
            font-size: 20px;
        }
    }
}

.fullw-popup {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 30px;
    border-radius: 18px;
    z-index: 9;
}

.flex-center-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: $divBorderRadius;
    box-shadow: $boxShadow1;
}

.popup-inner {
    .exam-info {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: $lightBorder;
    }
}

#portals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;

    .overlay {
        z-index: 6;
        background: #0000003d;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}