$primary: #285181;
$primaryHover: #153d6b;
$black: #121212;
$white: #ffffff;

$bg1: #E0EEFF;
$bgWhite: #ffffff;
$bgTransparent: #285281a1;

$loaderBg1: #2121216e;

$border1: #6c6c6c;
$border2: #a5a5a5;